.contenedor {
    display: flex;
    flex-direction: column;
}

.roundedImages {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cortinasRoller, .cortinasVerticales, .cortinasTextiles {
    margin-top: 2em;
    height: 200px;
    width: 200px;
    border-radius: 9999px;
    border: 2px dashed #162c8f;
    padding: 0.3em;
}



.cortinasRoller img, .cortinasVerticales img, .cortinasTextiles img  {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    transition: 1s;
}

.cortinasRoller img:hover, .cortinasVerticales img:hover, .cortinasTextiles img:hover {
transform: scale(0.9);
cursor: pointer;
}

.rollerContainer, .verticalesContainer, .textilesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rollerContainer a, .verticalesContainer a, .textilesContainer a {
    margin-top: 1em;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    user-select: none;
}

.textilesContainer a {
    text-align: center;
}

@keyframes changeColor {
  0% {
      color: white;
  }
  100% {
      color: #ffbb01;
  }
}

@media(max-width: 750px){
    .roundedImages{
        flex-direction: column;
    }
    
    .navigation a {
        font-size: 14px;
    }
}